/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500;600;700&display=swap');

body {
  background-color: #F244A4;
}

nav {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  margin: auto;
  padding: 2%;
  text-align: center;
  color: black;
}

h1 {
  font-weight: bold;
  font-family: 'Azeret Mono', monospace;
  font-size: 3em;
  width: 80%;
}

a {
  color: white;
  padding: 2%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 1%;
}

.navbar-brand:hover {
  background-color: black;
  color: #59CCD9;
}

.google {
  background-color: black;
  width: 50%;
  font-size: 1.5em;
  color: white;
  padding: 2%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 1%;
}

.google:hover {
  background-color: #F2E852;
  color: #F244A4;
  width: 50%;
}

.frame {
  background-color: black;
  width: 50%;
  padding: 2%;
  margin: 5%;
}

.navbar {
  background-color: black;
}

.nav-item:hover {
  color: #59CCD9;
}
.large-frame {
  margin: auto;
  display: block;
}

img {
  margin: auto;
  display: block;
}

#curated {
  color: white;
}

#curated-art {
  background-color: transparent;
}

.nav-link {
  background-color: transparent;
}

.liked-art {
  background-color: transparent;

}

.liked-art:hover {
  background-color: transparent;

}

.avatar {
  display: flex;
  align-items: center;
}

.avatar-frame {
  width: 80%;
}

.username {
  text-align: left;
}

.rounded-circle {
  max-width: 100%;
  max-height: 8em;
}

.card {
  background-color: #F2E852;
  max-height: 100%;
  margin: 0px 1%;
  min-width: 50%;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 500px;
  margin: 5%;
  padding: 2%;
}

.nav-link {
  width: 100%;
}

.card-img-top {
  max-width: 100%;
}

.card-title {
  overflow-wrap: break-word;
}
