/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

h1, h2, h3, h4 {
  margin: auto;
  padding: 4%;
  text-align: center;

}

a {
  background-color: MediumAquaMarine;
  color: white;
  padding: 2%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 1%;
}

a:hover {
  background-color: DarkSeaGreen;
  color: black;
}

.google {
  background-color: MediumAquaMarine;
  font-size: 1.5em;
  color: white;
  padding: 2%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 1%;
}

.google:hover {
  color: black;
}

.frame {
  background-color: transparent;
}

.large-frame {
  margin: auto;
  display: block;
}

img {
  margin: auto;
  display: block;
}

#curated {
  color: white;
}

#curated-art {
  background-color: transparent;
}

.nav-link {
  background-color: transparent;
}

.liked-art {
  background-color: transparent;

}

.liked-art:hover {
  background-color: transparent;

}
